*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

html,body, .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container{
    display: flex;
    height: 100px;
    margin: 10px;
    border-bottom: 3px solid black;
}

.container header{
    font-size: 40px;
    font-weight: bold;
    color: midnightblue;
}

.container .plus{
    text-align: center;
    margin-left: auto;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background-color:lawngreen;
    border-radius: 50%;
    font-size: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container .plus:hover{
    transition: .5ms ease-in-out;
    background-color: red;
    transform: rotate3d();
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrapper main{
    display: flex;
    flex-wrap: wrap;
}
.box{
    border: 1.5px solid black;
    height: 250px;
    width: 200px;
    border-radius: 3%;
    margin: 10px;
    background-color: springgreen;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.boxsh{
    display: flex;
    border-bottom: 2px solid black;
}
.icon{
    margin-left: auto;
}

.box .boxsh .header{
    font-size: 20px;
    font-weight: bold;
}
.box .icon button{
    border-radius: 50%;
    background-color: yellow;
    margin-right: 3px;
    padding: 2px;
    width: 20px;
    font-size: 10px;
}

.box .icon button:hover{
    transition: .5ms ease-in-out;
    transform: rotate3d();
    background-color: red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

textarea{
    margin-top: 5px;
    margin-left: 20px;
}

.colorbtn{
    display: flex;
    flex-direction: row;
    /* margin-left: auto; */
    /* background-color: firebrick; */
}

.colorbtn .color-1{
    margin:5px;
    /* margin-right: 0; */
    /* font-size: 30px; */
    height: 60px;
    width: 60px;
    background-color: yellow;
    border-radius: 50%;
}

.colorbtn .color-2{
    margin: 5px;
    background-color: blue;
    /* font-size: 30px; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.colorbtn .color-3{
    margin: 5px;
    background-color:red;
    /* font-size: 30px; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.colorbtn .color-4{
    margin: 5px;
    background-color:saddlebrown;
    /* font-size: 30px; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.colorbtn .color-5{
    margin: 5px;
    background-color:chartreuse;
    /* font-size: 30px; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.colorbtn .color-6{
    margin: 5px;
    background-color:rgb(216, 32, 233);
    /* font-size: 30px; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.colorbtn .color-1:hover, .colorbtn .color-2:hover, .colorbtn .color-3:hover,.colorbtn .color-4:hover,
.colorbtn .color-5:hover,.colorbtn .color-6:hover{
    transition: .5ms ease-in-out;
    background-color: red;
    transform: rotate3d();
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer{
    font-size: 30px;
    text-align: center;
    margin-top: auto;
    /* margin-bottom: 0; */
    /* margin-top: 222px; */
    background-color:midnightblue;
    font-weight: bold;
}


.dialog{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.dialog-box{
    position:relative; 
    height: 400px;
    width: 400px;
    border-radius: 5%;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(215, 215, 226);
    /* line-height: 50px; */
}

.heading{
    display: flex;
    /* margin-bottom: 20px; */
    width: 100%;
    height: 40px;
    /* background-color: green; */
    border-bottom: 1px solid black;
}

.heading header{
    margin-left: 20px;
}

.dialog .dialog-box  .icons{
    /* position: absolute; */
    margin-left: auto;
}

.dialog .dialog-box .icons button{
    position:absolute;
    border-radius: 50%;
    font-size: 20px;
    right: -5px;
    top: -10px;
    background-color:red;
    width: 30px;
}

.dialog .dialog-box .icons button:hover{
    transition: .5ms ease-in-out;
    background-color: green;
    transform: rotate3d();
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dialog .dialog-box header{
    text-align: center;
    margin: 3px;
}
.dialog .dialog-box main{
    text-align: center;
}

.dialog-box main textarea{
    margin-top: 20px;
    margin-right: 4px;
}

.dialog .dialog-box button{
    border-radius: 10%;
    background-color: violet;

}

.dialog .dialog-box .add:hover{
    transition: .5ms ease-in-out;
    background-color: red;
    transform: rotate3d();
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

